# TMB Application Service Configuration
# put this file in /etc/systemd/system/app.Service

[Unit]
Description=TMB Application Service
After=network.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/app

# Environment settings
# Include all necessary binary paths for the application
Environment=PATH=/home/admin/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=PYTHONUNBUFFERED=1
Environment=FORCE_COLOR=1
Environment=COLORTERM=truecolor

# Main application startup command
ExecStart=/home/admin/venv/bin/python run.py

# Restart settings in case of failure
Restart=on-failure
RestartSec=5

# Logging settings
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target